body{
    height: 100vh;
    background-image: url(../img/bg-body.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

header {
    display: flex;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
    color: #000;
    position: fixed;
    width: 100%;
    border-bottom: 1px solid #000;
}

header > h1{
    text-shadow: 2px 2px 25px #000;
    margin-left: 25px;
}

header > nav {
    width: 35%;
    margin-right: 20px;
}

header > nav > ul {
    width: 100%;
    list-style: none;
    display: flex;
    gap: 30px;
    justify-content: center;
}

header > nav > ul li {
    display: grid;
    place-content: center;
    margin: 0;
    padding-bottom: 2px;
    position: relative;
}


.dropdown > ul li{
    border-bottom: 1px solid #000;
}

.dropdown > ul li:last-child {
    border-bottom: none;
}

header > nav > ul li a{
    position: relative;
    font-size: 18px;
}

.dropdown > ul li a{
    position: relative;
    font-size: 16px;
}

header > nav > ul li a::before,
.dropdown > ul li a::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #000;
    border-radius: 5px;
    transform: scaleX(0);
    transition: all .5s ease;
    bottom: 0;
    left: 0;
}

header > nav > ul li a:hover::before,
.dropdown > ul li a:hover::before {
    transform: scaleX(1);
    background-color: #fff;
}

header > nav > ul li a:visited,
.dropdown > ul li a:visited{
    color: #000;
}

header > nav > ul li a:active,
.dropdown > ul li a:active {
    color: #000;
}

header > nav > ul li a:hover,
.dropdown > ul li a:hover{
    color: #fff;
}

.toggle_btn{
    color: #000;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
    margin-right: 20px;
}

.dropdown{
    position: absolute;
    right: 2rem;
    width: 130px;
    background-color: rgb(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    margin-top: 200px;
    transition: opacity 0.2s ease-in-out;
    opacity: 0;
    display: none;
    border: 1px solid #000;
    cursor: auto;
}

.dropdown.open{
    opacity: 1;
}

.dropdown li{
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 935px) {
    header > nav{
        display: none;
    }

    .toggle_btn, .dropdown{
        display: block;
    }
}